# build
**/[Bb]in/
**/[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

# user/IDE
.vs/
.idea/
.vscode/
*.user
*.suo
*.swp
*.tmp
*.bak

# node
node_modules/
npm-debug.log*
yarn-*.log

# publish
*.pubxml
*.pubxml.user
Properties/PublishProfiles/
publish/
